<!DOCTYPE HTML>
<html lang="he" dir="rtl">
    <head>
        <title>Shutafim</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../css/main.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    </head>
    <body>
       
       <div class="container">
           
            <div class="main-page">               
                
                <h1>איזה כיף אני מני ממטרה!</h1>

                <p>אני מצחיק אתכם אני מני ממטרה!</p>

                <p>אני נקרע! ונופל לתקרה!</p>
                
            </div>
            
        </div>
        
    </body>
</html>
 


